var coupon = function(item) {
  item.rest = item.releaseQuantity - item.giveOutQuantity
  item.duration = item.startTime.split(' ')[0] + ' 至 ' + item.endTime.split(' ')[0]
  item.typeText = typeText(item.discountType)
  item.amount = typeAmount(item,item.discountType)
  // 先判断item.selected是否过滤过
  if (item.selected == undefined) {
    item.selected = false
  }
  return item
} 

var typeText = function(theType) {
  switch (theType) {
    case '0':
      return '元'
      break;
    case '2':
      return '小时'
      break;
  }
}

var typeAmount = function (item,theType) {
  switch (theType) {
    case '0':
      return (item.cashDiscount) / 100
      break;
    case '2':
      return item.hoursDiscount
      break;
  }
}

/**
 * 处理路由
 */
var returnNav = function (nav) {
  if (nav == 'release') {
    return '下一步'
  } else if (nav == 'qrcode') {
    return '生成二维码'
  }
}

/**
 * 处理超过一千的数字
 */
var handleNumber = function(num) {
  if (num >= 1000) {
    var arr = (num + '').split('')
    arr.splice(arr.length - 3, 0, ',')
    num = arr.join('')
  }

  return num
}

/**
 * 把 
 * yyyy-mm-dd
 * 改成
 * yyyy.mm.dd
 */
var handleDateType = function(date) {
  console.log(date)
  if ("String" === date.constructor) {
    var reg = getRegExp("-", 'g');
    console.log(date.replace(reg, '.'))
    return date.replace(reg, '.')
  }
}

var calculatePercent = function(num, total) {
  if (!total) {
    return 0
  } else {
    var str = (parseFloat(num / total)*100).toFixed(1)
    return str
  }
}

module.exports = {
  coupon: coupon,
  returnNav: returnNav,
  handleNumber: handleNumber,
  handleDateType: handleDateType,
  calculatePercent: calculatePercent
}